<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    // Browser theme
    meta(name="theme-color", content="${themeColor}")

    title #{title}

    style(type="text/css").
      body {
        margin: 0px
      }

  body

    noscript
      p Your need JavaScript to see this app

    div#root
